body {
    font-family: "Inter", Inter;
    padding: 0;
    margin: 0;
}
.page-content-inner {
    display: flex;
    flex-wrap: wrap;
}
.sidebar-wrap {
    width: 13%;
    padding: 32px 10px 0 60px;
}
.content-wrap {
    width: 72%;
    padding: 32px 10px 0 38px;
    border-left: 1px solid #BFBFBF;
}
.swagger-ui .info .title small {
    display: none;
}
.swagger-ui .info hgroup.main a {
    display: none;
}
.description .renderedMarkdown p {
    font-family: Inter !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 24px;
    margin: 0 !important;
    color: #00000099 !important;
}
.swagger-ui .scheme-container .schemes {
    flex-wrap: wrap;
}
.swagger-ui .servers-title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #747474;
    margin-bottom: 6px !important;
    display: block;
}
.swagger-ui select {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2F2F2F !important;
    border: 1px solid #BFBFBF !important;
    border-radius: 6px;
    box-shadow: none;
    background: #fff url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20 20\"><path d=\"M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z\"/></svg>") right 8px center no-repeat;
    padding: 8px 30px 8px 8px;
    background-size: 24px;
}
.swagger-ui select:focus {
    outline: 0;
    box-shadow: none;
}
.servers {
    width: 450px;
}
.swagger-ui .btn.authorize {
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #2F2F2F;
    box-shadow: none;
}
.swagger-ui .btn.authorize span {
    display: block;
    margin: 0 auto;
    padding: 0;
}
.swagger-ui .btn.authorize svg {
    display: none;
}
.col-12-desktop {
    margin-top: 78px;
}
.swagger-ui .opblock-tag {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding: 16px 12px;
    color: #2F2F2F;
    text-transform: uppercase;
}
.swagger-ui .opblock-tag p {
    text-transform: none;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    font-weight: 400;
    color: #00000099 !important;
}
.operation-tag-content {
    padding-top: 32px;
}
.swagger-ui .opblock {
    border: none;
    background-color: #fff !important;
    margin: 0 0 12px;
    box-shadow: none;
}
.swagger-ui .opblock .opblock-summary {
    padding: 0;
}
.swagger-ui .opblock .opblock-summary-method {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    box-shadow: none;
    display: block;
    padding: 8px 8px;
    border-radius: 8px;
}
.swagger-ui .opblock .opblock-summary-path {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2F2F2F;
    padding-left: 20px;
}
.opblock-summary-description {
    font-family: Inter !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #BFBFBF !important;
    padding-left: 16px;
}
.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: #EAF3FB;
    color: #2A8BD2;
}
.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: #EAFBF3;
    color: #2AD28B;
}
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: #FBEAEA;
    color: #D22A2A;
}
.swagger-ui .opblock.opblock-put .opblock-summary-method {
    background: #FBF3EA;
    color: #D28B2A;
}
.swagger-ui .model-box-control:focus, .swagger-ui .models-control:focus, .swagger-ui .opblock-summary-control:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.swagger-ui .parameter__name {
    font-size: 15px;
}
.swagger-ui .parameter__name.required {
    font-weight: 600;
}
.swagger-ui .table-container tbody tr:first-child td {
    padding-top: 32px;
}
.swagger-ui .responses-table tbody tr.response td {
    padding-bottom: 32px;
}
.swagger-ui input[type=email], .swagger-ui input[type=file], .swagger-ui input[type=password], .swagger-ui input[type=search], .swagger-ui input[type=text], .swagger-ui textarea {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2F2F2F !important;
    border: 1px solid #BFBFBF !important;
    border-radius: 6px;
    box-shadow: none;
}
.swagger-ui .opblock .opblock-section-header {
    background: #fff;
    box-shadow: none;
    padding: 8px 20px;
    margin-top: 20px;
}
.swagger-ui .btn {
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #2F2F2F;
    box-shadow: none;
}
.response-col_description .response-col_description__inner .renderedMarkdown p {
    margin: 0;
}

/*sidebar*/
.sidebar-wrap .menu-block .heading {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
    margin: 0 0 8px;
}
.sidebar-wrap .menu-block {
    margin-bottom: 40px;
}
.sidebar-wrap .menu-block .sub-menu-block {
    padding-left: 8px;
}
.sidebar-wrap .menu-block .sub-menu-block .link {
    font-family: Inter;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000000;
    padding: 10px 0;
}
#headertable {
    margin: 24px 0;
    overflow-x: auto;
    position: relative;
}
#headertable td, #headertable th {
    border: 1px solid #BFBFBF;
    padding: 8px;
}
#headertable tbody th {
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    background-color: #F5F5F8;
    color: #2F2F2F;
}
#headertable td {
    color: #00000099;
}

/*navigation*/
header {
    padding: 26px 60px;
    font-family: "Inter", sans-serif;
    border-bottom: 1px solid #BFBFBF;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: center;
}
.arimac-logo {
    width: 48px;
    height: 48px;
    background-color:#F5F5F8 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
.arimac-logo img {
    width: 28px;
    height: 28px;
}
.header-title {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #231F20;
    text-align: left;
    line-height: 32px;
    font-weight: 600;
}
  /* .header-search input{
    width: 354px;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid #CDD2D9;
    font-family: "Inter", sans-serif;
  }

  .header-search .header-search-img{
  background-image:url(/images/Search.png);
  background-repeat: no-repeat; 
  background-position: 10px center; 
  padding-left: 30px; 

} */
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    gap: 48px;
}
.header-nav {
    display: flex;
    gap: 48px;
}
.header-nav .nav-link {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.header-nav .nav-link:hover {
    text-decoration: underline;
}
.sign-in-btn {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: #E63C2E;
    color: #FFFFFF;
    height: 48px;
    width: 170px;
    border: none;
    padding: 0;
    border-radius: 12px;
    cursor: pointer;
}

/*footer*/
footer{
    border-top: 1px solid #BFBFBF;
}
.footer-wrap {
    font-family: "Inter", sans-serif;
    max-width: 80%;
    margin: 0 auto;
    padding: 36px 24px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.footer-title{
    font-size: 24px;
    font-weight: 700;
    color: #231F20;
    line-height: 36px;
}
.footer-nav{
    display: flex;
    list-style: none;
    justify-content:space-between;
    gap: 40px;
    font-family: "Inter", sans-serif;
}
.footer-nav a{
    text-decoration: none;
    list-style: none;
    color: #231F20;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}
.footer-container img{
    height: 40px;
    width: 40px;
}
.footer-copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #231F20;
}
.footer-copyright p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #231F20;
    margin: 12px 0 0;
}

@media (max-width: 1200px) {
    .sidebar-wrap {
        display: none;
    }
    .content-wrap {
        width: 100%;
        padding: 32px 32px;
        border-left: none;
    }
    .servers {
        width: 300px;
    }
    header {
        padding: 24px 32px;
    }
    footer{
        border-top: 1px solid #BFBFBF;
    }
    .footer-wrap {
        padding: 32px 24px;
        max-width: 90%;
    }
    .footer-container{
        margin-bottom: 0;
    }
    .footer-title{
        font-size: 22px;
        line-height: 36px;
    }
    .footer-nav{
        gap: 28px;
    }
    .footer-nav a{
        font-size: 14px;
        line-height: 28px;
    }
    .footer-container img{
        height: 30px;
        width: 30px;
    }
    .footer-copyright p {
        font-size: 14px;
        line-height: 28px;
        margin: 12px 0 0;
    }
}
@media (max-width: 992px) {
    .content-wrap {
        padding: 32px 24px;
    }
    .swagger-ui .scheme-container .schemes {
        justify-content: center;
    }
    .swagger-ui .btn.authorize {
        margin: 15px 0 0;
    }
    .swagger-ui .auth-wrapper {
        justify-content: center;
    }
    header {
        padding: 24px 24px;
    }
    .arimac-logo {
        margin-right: 16px;
    }
    .header-title {
        font-size: 14px;
        line-height: 28px;
    }
    .header-right{
        height: auto;
        gap: 12px;
    }
    .header-nav {
        gap: 12px;
    }
    .header-nav .nav-link {
        font-size: 14px;
        line-height: 28px;
    }
    .sign-in-btn {
        font-size: 14px;
        line-height: 22px;
        height: auto;
        width: auto;
        padding: 6px 12px;
    }
    .footer-wrap {
        max-width: 100%;
    }
    .footer-container {
        display: block;
        text-align: center;
    }
    .footer-link-wrap {
        margin: 10px 0;
    }
}